
@font-face {
  font-family: "JoeFont";
  src: url('DMSerifDisplay-Italic.ttf');
}


body
{
  background-color: #fef7f7;
}

.filter-container {
  text-align: center;
  padding-bottom: 20px;
}

.filter-container
  {
    display: block;
  }
input {
  margin: 20px auto;
  display: block;
  font-size: 1.4rem;
  text-align: center;
  transition: 0.2s;
}
input:focus {
  border-radius: 30px;
  background: rgb(238, 238, 238);
}
.range-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="range"] {
  width: 250px;
  margin: 0 10px 10px 0;
}
.range-container span {
  font-size: 1.2rem;
  transform: translateY(-3px);
}



.filter-container img
{
  width: 10%;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: -15px;
}

.filter-container h2
 {
   font-family: "JoeFont";
   color: #007bff;
   font-weight: bold;
 }


.countries-container {
  display: flex;
  flex-wrap: wrap; /* Permet de passer à la ligne */
  justify-content: space-between; /* Espace entre les éléments */
  gap: 20px; /* Ajoute un espace entre les cartes */
  text-align: center;
}

.text-align
{
  color: #007bff;
  text-align: center;
}


.card {
  flex: 1 1 calc(25% - 20px); /* Chaque carte occupe 25% de la largeur du conteneur */
  margin: 10px;
  background-color: rgb(35, 30, 30);
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  color: white;
  border-radius: 20px;
  height: auto; /* Ajuste la hauteur selon le contenu */
  min-height: 350px; /* Hauteur minimale pour rendre toutes les cartes uniformes */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Répartit le contenu verticalement */
}

.card img {
  width: 100%;
  height: 50%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.card h3, .card h4 {
  margin: 10px 0;
}

  

img {
  width: 100%;
  height: 50%;
  margin: 10px 0;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.304);
}

li
  {
    list-style-type: none;
  }

  select {
    appearance: none;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    width: max-content;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
  }
  
  select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.2);
  }
  
  select option {
    background-color: #fff;
    color: #333;
    font-size: 16px;
  }
  
  #backToTop {
    display: none; /* L'image est cachée par défaut */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    cursor: pointer;
    width: 50px; /* Largeur de l'icône */
    height: 50px; /* Hauteur de l'icône */
    opacity: 0.7; /* Légère transparence pour l'esthétique */
    transition: opacity 0.3s; /* Transition douce pour le survol */
  }
  
  #backToTop:hover {
    opacity: 1; /* Icône complètement visible lors du survol */
  }

  @media (max-width: 768px)
  {
    .card{
      flex: 1 1 100%;
    }
  }

  @media (max-width: 480px){
    .card {
      flex: 1 1 100%;
    }
  }
